---
const { id, estado, mensaje} = Astro.props;
---
{(estado === 'bueno')?(
  <div id={`${id}`} class="absloute flex justify-center items-center ml-auto mr-auto">
  <img class="absolute h-[700px] w-[800px]" src={`/imgs/nube-${estado}.png`} alt="">
    <span class="absolute w-96 text-black text-center">
      {`${mensaje}`} 
    </span>
  </img>
</div>	
):(
<div id={`${id}`} class="absloute flex justify-center items-center ml-auto mr-auto">
			<img class="absolute h-[550px] w-[950px]" src={`/imgs/nube-${estado}.png`} alt="">
				<span class="absolute w-[450px] h-36 text-white text-center">
					{`${mensaje}`} 
				</span>
			</img>
		</div>	
)}
